.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal section h1 {
  text-transform: capitalize;
}

.reveal section h2 {
  text-transform: none;
}

.reveal section h3 {
  text-transform: none;
}

.transparentTextBox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 20px 10;
}

.transparentTextBox h1 {
  color: #000;
}

.transparentTextBox h2 {
  color: #000;
}

.transparentTextBox h3 {
  color: #000;
}

.transparentTextBox span {
  color: #000;
}


.transparentTextBox li {
  color: #000;
}

.transparentTextBox p {
  color: #000;
}

u {
  text-decoration: underline;
}

#container {
	margin: 0px auto;
	width: 960px;
}

#content-container {
	float: left;
	width: 960px;
}

#leftContent {
	clear: left;
	float: left;
	width: 590px;
	padding: 10px 10;
	margin: 0 0 0 0px;
	display: inline;
}

#rightAside {
	float: right;
	width: 227px;
  padding: 10px 0;
	display: inline;
  margin: 0px 0 0 0;
}

#leftAside {
	clear: left;
	float: left;
	/*width: 250px;*/
	padding: 0px 0;
	margin: 0 0 0 0px;
	display: inline;
}

#rightContent {
	float: right;
	/*width: 690px;*/
  padding: 10px 10;
	display: inline;
  margin: 0px 0 0 0;
}

.quoteText {
  color: black;
  background-color: white;
  /*font: 16px Georgia;*/
  font-style: italic;
  line-height: 24px;
  text-align: center;
  padding: 10px;
}

.leftAlignedText {
  text-align: left;
}
