.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal section img.withBorder {
  background: black;
  border: 1px;
  border-style: solid;
}

.reveal section img.withBorderAndShadow {
  background: black;
  border: 1px;
  box-shadow: 7px 7px 5px #888888;
  border-style: solid;
}

.reveal section img.withShadow {
  box-shadow: 7px 7px 5px #888888;
}

.reveal section h1 {
  text-transform: none;
}

.reveal section h2 {
  text-transform: none;
}

.reveal section h3 {
  color: #009;
  /*text-shadow: 2px 2px #000011;*/
  text-transform: none;
  font-size: 110%;
}

.reveal section li {
  margin-top: 20px;
  font-size: 80%;
}

.reveal li:first-child {
    margin-top:10px;
}

.reveal section p {
  font-size: 80%;
}

.transparentTextBox {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  margin: 20px 10;
  color: #000;
  width: 960px;
  height: 680px;
}

.transparentTextBox h1 {
  color: #000;
}

.transparentTextBox h2 {
  color: #000;
}

.transparentTextBox h3 {
  color: #000;
}

.transparentTextBox li {
  color: #000;
}

#container {
	margin: 0px auto;
	width: 960px;
}

#content-container {
	float: left;
	width: 960px;
}

#leftContent {
	clear: left;
	float: left;
	width: 590px;
	padding: 10px 10;
	margin: 0 0 0 0px;
	display: inline;
}

#rightAside {
	float: right;
	width: 227px;
  padding: 10px 0;
	display: inline;
  margin: 0px 0 0 0;
}

#leftAside {
	clear: left;
	float: left;
	/*width: 250px;*/
	padding: 0px 0;
	margin: 0 0 0 0px;
	display: inline;
}

#rightContent {
	float: right;
	/*width: 690px;*/
  padding: 10px 10;
	display: inline;
  margin: 0px 0 0 0;
}

.quoteText {
  color: black;
  background-color: white;
  /*font: 16px Georgia;*/
  font-style: italic;
  line-height: 24px;
  text-align: center;
  padding: 10px;
}

.leftAlignedText {
  text-align: left;
}

.rightAlignedText {
  text-align: right;
}

#cornerstone {
  position: absolute;
  left: 0px;
  top: 0px;
  /*vertical-align: top;
  text-align: left;*/
}

#nsercLogo {
  position: absolute;
  left: 0px;
  bottom: 0px;
  /*vertical-align: top;
  text-align: left;*/
}

redText {
  color: #F00;
}

yellowText {
  color: #FF0;
}

blueText {
  color: #04F;
}

highlightedText {
  color: #F70;
  font-style: italic;
}

verySmallText {
  font-size: 12px;
}
