
.img-comp-container {
    position: fixed;
    width: 602px;
    height: 602px;
    top: 50%;
    left: 50%;
    margin-top: -301px;
    margin-left: -301px;
}

.img-comp-img {
    border: 1px solid #000;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    /* border: 1px solid #000; */
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.img-comp-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 30px;
    height: 20px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}

.label1-text {
    position: absolute;
    font: 12px Helvetica;
    color: rgb(240, 240, 240);
    top: 8px;
    left: 8px;
}

.label2-text {
    position: absolute;
    font: 12px Helvetica;
    color: rgb(240, 240, 240);
    top: 8px;
    right: 8px;
}

.wbt-text {
    position: absolute;
    font: 10px Helvetica;
    color: rgb(240, 240, 240);
    bottom: 8px;
    right: 8px;
}
    