@charset "utf-8";
/* CSS Document */

/* Fonts */
@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fontPath/open-sans/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fontPath/lato/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fontPath/lato/Lato-Semibold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fontPath/lato/Lato-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fontPath/lato/Lato-SemiboldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fontPath/lato/Lato-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fontPath/lato/Lato-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}


/* Components */

#titleContainer {
  height: 72px;
  width: 900px;
  position: relative;
}

#UoGLogo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 72px;
  height: 72px;
}

#titleRunner {
  position: absolute;
  left: 72px;
  top: 0px;
  width: 828px;
  height: 72px;
}

#headerImageBox {
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 72px;
  width: 828px;
  height: 72px;
  background-color: rgba(108, 175, 243, 0.25);
}


#johnText {
  z-index: 100;
  font:22px Open Sans, Helvetica;
  position: absolute;
  letter-spacing: .1em;
  font-weight: 600;
  left: 84px;
  top: 10px;
  /*color: #000000;
  text-shadow: 1px 1px #CCCCCC;*/
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
}

#johnSubtext {
  z-index: 100;
  font:12px Open Sans, Helvetica;
  position: absolute;
  letter-spacing: .1em;
  font-weight: normal;
  font-style: normal;
  left: 84px;
  top: 42px;
  width: 487px;
  /*color: #000000;
  text-shadow: 1px 1px #CCCCCC;*/
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
}

#johnSubtext a {
  /*color: #000000;*/
  color: #FFFFFF;
  text-decoration: none;
}

#johnSubtext a:hover {
  color: #F16F31;
  text-decoration: underline;
}

#labText {
  z-index: 100;
  font:14px Open Sans, Helvetica;
  position: absolute;
  color: #FFFFFF;
  font-weight: normal;
  font-style: normal;
  letter-spacing: .1em;
  left: 580px; /*595px;*/
  top: 15px;
  width: 300px;
  /*text-shadow: 2px 2px #333300;*/
  text-shadow: 1px 1px #000000;
  text-align: right;
}

#container {
  position: absolute;
  margin: 0px auto;
	width: 900px;
	background: #fff;
  /*left: 150px;*/
  /* top: 0px; */
  /* width: 100%; /*1000px;*/
  /* margin: 0 auto; */
  left: 50%;
  margin-left: -450px;
}

#skiplink {
  position: absolute;
  top: 5px;
  left: 2px;
}

#header {
  background: #FFFFFF; /*#FFF2C9;*/
  height: 72px;
  /*padding: 17px 30 42 30;*/
}

#header h1 {
  margin: 0;
}

.cornerstone {
	float: left; /*right;*/
	width: 72px;
  height: 72px;
	padding: 0px 15 0 0;
	margin: 0px 0 0 0;
}

.logo {
	font:20px Open Sans, Helvetica;
	color: #333300;
	letter-spacing:.1em;
	font-weight: bold;
}

.ghrl_logo {
	float: right;
	width: 320px;
  height: 72px;
	padding: 0px 0 0 00;
	margin: 0px 0 0 0;
}

/*.headerRunner {
	float: right;
	width: 828px;
  height: 72px;
	padding: 0px 0 0 00;
	margin: 0px 0 0 0;
}*/

strong {
  font-weight: 600;
}

h1 {
  font-family: Open Sans, Helvetica, Arial;
  font-style: normal;
  font-weight: 600;
  font-size:22px;
}

h2 {
  font-family: Open Sans, Helvetica, Arial;
  font-weight: 600;
  font-size:18px;
  padding-top:12px;
}

h3 {
  font-family: Open Sans, Helvetica, Arial;
  font-weight: 600;
  font-size:14px;
  padding-top:12px;
}

/* pre {
  padding-top:32px;
} */

/* Navigation menu */
nav {
  font: 10px Open Sans, Helvetica;
  /*font-weight: 300;*/
  background-color: rgb(43, 79, 116); /*rgb(30, 66, 103); /*#29649D; /*#6699CC;*/
  display: block;
  /*float: left;*/
}

nav .activated {
  background: #F16F31; /*#FF8C55;*/
  color: white;
  text-decoration: none;
  font: 10px Open Sans, Helvetica;
  font-weight: 600;
	letter-spacing: .1em;
}

nav .activated:hover {
  background: #FF8C55; /*#FFA275;*/
  text-decoration: underline;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
  text-decoration: none;
}

nav ul {
	background: rgb(43, 79, 116); /*rgb(30, 66, 103); /*#29649D; /*#6699CC;*/
	padding: 0px 0px 0px 0px;
	list-style: none;
	position: relative;
  margin: 0px;
	display: inline-table;
}

nav ul:after {
	content: "";
  clear: both;
  display: block;
}

nav ul li {
	float: left;
  text-align: center;
  border-right: 1px solid #fff;
  width: 125px;
}

nav ul li:hover {
	background: #FF8C55; /*#FFA275;*/
  text-decoration: none;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block;
  padding: 5px 10px;
	color: white;
  text-decoration: none;
  font:10px Open Sans, Helvetica;
  font-weight: 300;
	letter-spacing: .1em;
}

nav ul ul {
	background: rgb(43, 79, 116); /*rgb(30, 66, 103); /*#29649D; /*#6699CC;*/
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
	position: absolute;
  top: 100%;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #fff;
  border-right: none;
	position: relative;
  padding: 2px 10px;
	color: white;
  text-decoration: none;
  font:10px Open Sans, Helvetica;
	letter-spacing:.1em;
}

nav ul ul li a {
	padding: 5px 10px;
	color: #fff;
}

nav ul ul li:hover {
	background: #FF8C55; /*#FFA275;*/
}

nav ul ul ul {
	position: absolute;
  left: 100%;
  top:0;
}


#content-container {
	float: left;
	width: 100%; /*900px;*/
	background: #fff;
  /*border: 1px;
  border-style: solid;*/
}

#content {
	clear: left;
	float: left;
	width: 613px;
	padding: 30px 30px 30px 30px;
	margin: 0 0 0 0px;
	display: inline;
  border: 1px;
  /*border-style: solid;
  border-color: red;*/
}

#content h1 { margin: 0px 0px 0px 0px; }
#content h2 { margin: 20px 0px 0px 0px; }

#content h1.h1BelowImage {
  margin: 15px 0px 0px 0px;
}

#aside {
	float: right;
	width: 197px;
  padding: 30px 30px 30px 0px;
	display: inline;
  margin: 0px 0px 0px 0px;
  /*border: 1px;
  border-style: solid;*/
}

#aside h3 {
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

#footer {
	clear: both;
	background: rgb(43, 79, 116); /*rgb(30, 66, 103); /*#29649D; /*#6699CC;*/
	/*text-align: left;*/
	padding: 20px;
  margin: 0px;
	height: 15px;
  display: block;
  /*float: left;*/
}

#copyrightText {
  float: left;
}

#footerLinkBar {
  float: right;
}

.navText {
	font: 10px Open Sans, Helvetica;
	color: #333300;
	letter-spacing:.1em;
}

.bodyText {
	font: 14px Open Sans, Helvetica;
  font-style: normal;
  font-weight: 300;
	line-height: 24px;
	/*color: #333333;*/
  color: #000000;
	text-align:left;
}

.bodyTextbold {
	font-family: Open Sans, Helvetica;
	font-size: 14px;
  font-style: normal;
  font-weight: bold;
}


.footerText {
	font: 11px Open Sans, Helvetica;
	color: #FFFFFF;
	text-align: left;
}

.footerText a {
	font: 11px Open Sans, Helvetica;
	color: #FFFFFF;
	text-align: left;
  text-decoration: none;
}

.footerText a:hover {
	font: 11px Open Sans, Helvetica;
	color: #FFFFFF;
  text-decoration: underline;
}

.pubList {
	font: 14px Open Sans, Helvetica;
	line-height: 24px;
  font-style: normal;
  font-weight: 300;
	color: #333333;
	text-align:left;
}

.pubList ol {
  padding-left: 20px;
}

.pubList ol li {
  margin-left: 0px;
  padding-top: 5px;
}

.sidebarText {
	font:12px Open Sans, Helvetica;
	color: rgb(80, 80, 80); /*#666666;*/
  font-style: normal;
  font-weight: 300;
	line-height:18px;
}

.skipText {
	font:10px Open Sans, Helvetica;
	color: black;
	line-height:14px;
}

.textwrap-right {
	float:right;
}

body {
  background-image: url("img/texture1.png");
	background-color: #aaa;
}

a {
	color: rgb(43, 79, 116); /*rgb(30, 66, 103); /*#29649D; /*#6699CC;*/ /*#B50000;*/
	text-decoration: underline;
}

a:hover {
	color: #F16F31; /*#FF8C55;*/
	text-decoration: underline;
}

table.no_gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-collapse: collapse;
	margin:auto;
	width:84;
}

ol li {
  font: 14px Open Sans, Helvetica;
  font-style: normal;
  font-weight: 300;
	line-height: 24px;
  color: #000000;
	text-align:left;
}

/* ul li {
  font: 14px Open Sans, Helvetica;
  font-style: normal;
  font-weight: 300;
	line-height: 24px;
  color: #000000;
	text-align:left;
} */

/* Whitebox navigation bar */
#sidebarLinks {
  padding: 20px 0px 10px 0px;
  /*background-color: #FFF;*/
}

#sidebarLinks .activated {
  background: #F16F31; /*#FF8C55;*/
}

#sidebarLinks ul {
	padding: 0px 0px 0px 0px;
	list-style: none;
	position: relative;
  margin: 0px;
	display: inline-table;
  border-bottom: 1px solid #fff;
}

#sidebarLinks li {
  colour: white;
  background: rgb(43, 79, 116); /*rgb(30, 66, 103); /*#29649D; /*#6699CC;*/
	border-bottom: 1px solid #fff;
  padding: 8px 12px;
  width: 175px;
}

#sidebarLinks a {
  color: white;
  text-decoration: none;
  font:10px Open Sans, Helvetica;
	letter-spacing:.1em;
}

#sidebarLinks li:hover {
	background: #FF8C55; /*#FFA275;*/
  text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backgroundSection {
  /* background: #EEEEEE; */
  background: #EEEEFF;
  margin: 0px;
  padding: 8px;
}

.newsLight {
  background: #FFFFFF;
  margin: 0px;
  padding: 8px;
}

.newsDark {
  background: #EEEEEE;
  margin: 0px;
  padding: 8px;
}

.quoteText {
  font: 16px Georgia;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.centeredImage {
  /*float: right;*/
  /*display: inline-block;*/
  /*margin: 0px auto;*/
  text-align: center;
}

.submitButton {
    text-decoration: underline;
    border: none;
    font: 12px Open Sans, Helvetica;
    font-weight: normal;
  	line-height: 24px;
    height: 24px;
  	color: rgb(43, 79, 116); /*rgb(30, 66, 103);*/
    text-align: left;
    padding: 0px 1px;
    background-color: rgba(255,255,255,0);
}

/*rgb(43, 79, 116) #FFA275 #FF8C55; #F16F31;*/
/*.submitButton {
    background-color: rgb(43, 79, 116);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 10px Helvetica;
    margin: 4px 2px;
    cursor: pointer;
}*/

/*#FFA275;*/
.submitButton:hover {
    border: none;
    color: #FF8C55;
    text-decoration: underline;
}

/*.submitButton:hover {
    background-color: #F16F31;
    text-decoration: underline;
}*/

.submitButtonBold {
    text-decoration: none;
    border: none;
    font: 14px Open Sans, Helvetica;
    font-weight: bold;
  	line-height: 24px;
    height: 24px;
  	color: #29649D; /*#6699CC;*/
    text-align: left;
    background-color: rgba(255,255,255,0);
}

.submitButtonBold:hover {
    border: none;
    color: #FF8C55; /*#FFA275;*/
    text-decoration: underline;
}

table {
    font-size: 12pt;
    font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align: center;
}

td, th {
    border: 1px solid #222222;
    text-align: centre;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:hover {
    background-color: lightyellow;
}
.numberCell {
    text-align: right;
}
.headerCell {
    font-weight: bold;
    text-align: center;
}
